Bingo/Bingo/Connected Services/WcfServicio/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBingo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBingo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="ReglasDeJuego">
    <xs:sequence>
      <xs:element minOccurs="0" name="MensajeInstrucciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReglasDeJuego" nillable="true" type="tns:ReglasDeJuego" />
</xs:schema>